body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    text-align: center;
}

nav {
    background: #111;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #00ffcc;
}

}

h1 {
    margin-top: 40px;
}

.container {
    margin: 40px auto;
    width: 80%;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
