body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: black;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.banner {
    padding: 40px;
    background: lightgray;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;
}

button {
    background: black;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: gray;
}
